*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fonte-principal: "Inter", sans-serif;
    --cor-amarelo: #FDA52D
}

.pulse-WhatsApp{
    font-size: 3.5rem;
    border-radius: 16px;
    position: fixed;
    bottom: 5%;
    left: 3%;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: transparent;
    color: #0ba360;
    box-shadow: 0 0 0 0 rgba(226, 41, 41, 0);
    animation: pulse-WhatsApp 2s infinite;
    transition: all 0.3s ease 0s;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}
.pulse-WhatsApp:hover{
    color: white;
    transform: scale(1.2);
}

body{
    font-family: var(--fonte-principal);
    scroll-behavior: smooth;
}

.txt-destaque-amarelo{
    color: var(--cor-amarelo);
}
.linha-amarela{
    height: 2px;
    background: linear-gradient(to right, transparent, #FDA52D, transparent);
}

@keyframes pulse-WhatsApp{
    0%{
        box-shadow: 0 0 0 0 #0ba360;
    }
    70%{
        color: rgb(255, 255, 255);
        background-color: #0ba360;
        box-shadow: 0 0 0 17px rgba(92, 168, 44, 0);
    }
    100%{
        box-shadow: rgba(92, 168, 44, 0);
    }
    
}

/*==========================*/
/*          Header          */
/*==========================*/
.header-top-fixo{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o cabeçalho fique sobre outros elementos */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.nav-link{
    color: #080808;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: var(--fonte-principal);
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}
.nav-link:hover{
    border-bottom: 2px solid var(--cor-amarelo);
}

.ativado{
    border-bottom: 2px solid var(--cor-amarelo);
}
 /* Faz o dropdown abrir quando passar o mouse */
 .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.btn-header a{
    text-decoration: none;
    background-color: var(--cor-amarelo);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.3s ease;
}
.btn-header a:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

/*==================================*/
/*          Banner Inicial          */
/*==================================*/
.sessao-inicial{
    margin-top: 10vh;
    height: 75vh;
    background: url('../img/bg-bannerprincipal.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.sessao-inicial h1{
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
}
.sessao-inicial p{
    color: white;
    font-weight: 200;
    font-size: 0.8rem;
}
.sessao-inicial a{
    text-decoration: none;
    background-color: var(--cor-amarelo);
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: center;
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.sessao-inicial a:hover{
    background-color: rgb(255, 255, 255);
}

/*===================================*/
/*          Case de Sucesso          */
/*===================================*/
.titulo-case-de-sucesso h2{
    font-family: var(--fonte-principal);
    font-weight: bolder;
}
.content-card-case-de-sucesso{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-bottom: 4px solid var(--cor-amarelo);
}
.content-card-case-de-sucesso h3{
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 1.5rem;
}
.content-card-case-de-sucesso p{
    font-family: var(--fonte-principal);
    font-weight: 300;
}
.btn-case-de-sucesso{
    text-decoration: none;
    background-color: var(--cor-amarelo);
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}
.btn-case-de-sucesso:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

/*===================================*/
/*              Numeros              */
/*===================================*/
.content-numeros{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    text-align: center;
}
.card-numeros h2{
    font-family: var(--fonte-principal);
    color: var(--cor-amarelo);
}

/*===================================*/
/*              Planos               */
/*===================================*/
.content-card-planos{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-top: 12px solid var(--cor-amarelo);
    background: linear-gradient(#F2F2F2, #FFFFFF);
}
.content-card-planos ul{
    list-style-image: url("../icon/icone-plano.png");
}
.content-card-planos a{
    text-decoration: none;
    background-color: var(--cor-amarelo);
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}
.content-card-planos a:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

/*===================================*/
/*              Sobre                */
/*===================================*/
.bg-sobre{
    background-image: url('../img/bg-sobre.png');
    background-size: cover;       /* cobre toda a área */
    background-position: center;  /* centraliza */
    background-repeat: no-repeat; /* não repete */
}
.content-sobre p{
    font-family: var(--fonte-principal);
    font-weight: 400;
}
@media (max-width: 768px) {
    .bg-sobre{
        background-image: none;
    }
}

/*===================================*/
/*            Feedback               */
/*===================================*/
#feedback{
    background-color: black;
}
.feedback-container{
    color: white;
}
.content-card-feedback{
    background-color: white;
    color: black;
}

/*=======================================*/
/*            Chamada Ação               */
/*=======================================*/
.btn-chamada-acao{
    text-decoration: none;
    background-color: var(--cor-amarelo);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.3s ease;
}
.btn-chamada-acao:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

/*=================================*/
/*            Faq                  */
/*=================================*/
#faq{
    
}

.content-titulo-faq{
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.accordion{
    --bs-accordion-active-bg: white;
    --bs-accordion-active-color: rgba(25, 30, 21, 1);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg: white;
    --bs-accordion-border-width: 0px;
    
    --bs-accordion-button-active-color: white;
}   

.accordion-button.collapsed{
    padding: 2.5%;
    font-size: 1rem;
    color: rgba(25, 30, 21, 1);
    font-weight: 500;
    background: white;
    font-family: var(--fonte-principal);
    border-bottom: 3px solid var(--cor-amarelo);
}
.accordion-collapse{
    background-color: white;
    border-bottom: 3px solid var(--cor-amarelo);
}
.accordion-button:not(.collapsed){
    box-shadow: none;
    padding: 2.5%;
    font-weight: 500;
    font-size: 1rem;
    font-family: var(--fonte-principal);
}

.accordion-body{
    font-family: var(--fonte-principal);
    font-size: 1rem;
}

.bi-question-circle{
    color: #FDA52D;
}



/* Abertura de empresa*/
.content1-duvida-faq a{
    text-decoration: none;
    color: black;
    background-color: #FDA52D;
}

/*=================================*/
/*            Footer               */
/*=================================*/
footer{
    background-color: black;
}
footer p{
    color: white;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

.content2-footer-menu a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.content2-footer-menu a:hover{
    color: var(--cor-amarelo);
}
.content2-footer-menu ul, .content-rede-footer ul{
    list-style: none;
    padding-left: 0px;
}

.content-rede-footer a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.content-rede-footer a:hover{
    color: var(--cor-amarelo1);
}